@charset "utf-8";
/* CSS Document */
/*----- Global reset ---------------------------------------------------------------*/		
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, textarea, label, p, blockquote, th, td 						{ margin:0;padding:0; }

/*----- Global Settings ---------------------------------------------------------------*/
#header                                                                                 { background-color:#111111;color:white;text-align:center;padding:5px; }
#section                                                                                { width:650px;float:left;padding:10px;margin-left:20%;margin-top:20px;margin-bottom:20px;
                                                                                          height:400px;}
#section h1                                                                             { color:#111111;}
audio                                                                                   { margin-bottom:30px; }
#paroles                                                                                { font-size:18px;padding:15px;background-color:#ead8eb;width:250px;
                                                                                          border-radius:10px;text-align:center; }
#footer                                                                                 { background-color:black;color:white;clear:both;text-align:center;padding:5px; }
